<script>
  import { link } from 'svelte-spa-router';

  export let id;
  export let title;
  export let image_url;
</script>

<a href="/recipes/{id}" use:link>
  <div class="card shadow-sm">
    <img src="{image_url}" alt="{title}" class="card-img-top" width="100%" height="225"/>
    <div class="card-body">
      <h5 class="card-title text-center">{title}</h5>
    </div>
  </div>
</a>
