<div class="d-flex justify-content-center">
  <div class="alert alert-warning w-50" role="alert">
    Oops, noting found ...
    <hr>
    <p class="mb-0">Wanna <a href="#/" class="alert-link">go back?</a></p>
  </div>
</div>
