<script>
  import RecipeCard from '../Components/RecipeCard.svelte';

  let promise = getRecipes();

  async function getRecipes() {
    const response = await fetch('API_URL' + '/recipes');
    const content = await response.json();

    if (response.ok) {
      return content;
    } else {
      throw new Error(content.error);
    }
  }
</script>

<style>
  .progress {
    height: 1.5rem;
    margin-top: 15rem;
  }
</style>

{#await promise}
  <div class="d-flex justify-content-center">
    <div class="progress w-50">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"/>
    </div>
  </div>
{:then recipes}
  <div class="row row-cols-1 row-cols-md-3">
    {#each recipes as recipe}
      <div class="col mb-4">
        <RecipeCard {...recipe}/>
      </div>
    {/each}
  </div>
{:catch error}
  <div class="d-flex justify-content-center">
    <div class="alert alert-danger w-50" role="alert">
      {error}
      <hr>
      <p class="mb-0">Wanna <a href="#/recipes" on:click={() => location.reload()} class="alert-link">retry?</a></p>
    </div>
  </div>
{/await}
