<script>
  import ContentLoader from 'svelte-content-loader';
  import { ListLoader } from 'svelte-content-loader';
  import marked from 'marked';

  export let params = {};

  let promise = getRecipes();

  async function getRecipes() {
    const response = await fetch('API_URL' + '/recipes/' + params.id);
    const content = await response.json();

    if (response.ok) {
      return content;
    } else {
      throw new Error(content.error);
    }
  }
</script>

<div class="d-flex justify-content-center">
  {#await promise}
    <div class="card w-50">
      <ContentLoader primaryColor="#cfd0d1" width="100%" height="260">
        <rect x="0" y="0" rx="0" ry="0" width="100%" height="100%" />
      </ContentLoader>

      <div class="card-body">
        <ListLoader primaryColor="#cfd0d1"/>
      </div>
    </div>
  {:then recipe}
    <div class="card w-50">
      <img src="{recipe.image_url}" alt="" class="card-img-top" height="260" width="100%"/>
      <div class="card-body">
        <h5 class="card-title text-center">{recipe.title}</h5>
        <p class="card-text">{@html marked(recipe.description)}</p>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">
            {#if recipe.chef_name}Chef {recipe.chef_name}{/if}
          </small>
          {#if recipe.tags.length > 0 }
            <div>
              {#each recipe.tags as tag}
                <span class="badge badge-warning ml-1">{tag}</span>
              {/each}
            </div>
          {/if}
        </div>
        <a href="#/" class="btn btn-primary mt-3">Go back</a>
      </div>
    </div>
  {:catch error}
    <div class="alert alert-danger w-50" role="alert">
      {error}
      <hr>
      <p class="mb-0">Wanna <a href="#/recipes/{params.id}" on:click={() => location.reload()} class="alert-link">retry?</a> or <a href="#/" class="alert-link">go back?</a></p>
    </div>
  {/await}
</div>
