<script>
    import Router from 'svelte-spa-router'
    import Recipes from './Pages/Recipes.svelte';
    import Recipe from './Pages/Recipe.svelte';
    import NotFound from './Pages/NotFound.svelte';

    const routes = {
      '/': Recipes,
      '/recipes/:id': Recipe,
      '*': NotFound
    }
</script>

<main>
    <div class="py-5">
         <div class="container">
             <Router {routes}/>
        </div>
    </div>
</main>
